html{
    margin: 0;
    padding: 0;

    font: normal 100%/1.4 Georgia,serif;
}
li{
  list-style-type: none;
  align-items: baseline;
}

.current{
    background-color: #000531;
    color: #fff;
}
.nav-top{
    font-size: 100%;
}
.nav-bottom{
    font-size: 70%;
}
